@model Backend_Project_Amado.Areas.Admin.Models.ProductEditVM
@using Backend_Project_Amado.Entities
@{
    Layout = "_AccountLayout";
}
<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <form asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <h3>Add Product</h3>
                    <div class="form-group">
                        <input hidden asp-for="Id" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input asp-for="Name" class="form-control" id="exampleFormControlInput1">
                        <span asp-validation-for="Name" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input asp-for="Price" class="form-control" id="exampleFormControlInput2">
                        <span asp-validation-for="Price" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span asp-validation-for="Description" style="color:red"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="3">Select Category</label>
                        <select asp-for="CategoryId" asp-items="@new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))" class="form-control" id="exampleFormControlSelect1">
                            <option disabled selected>Choose category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="4">Select Brand</label>
                        <select asp-for="BrandId" asp-items="@new SelectList(Model.Brands, nameof(Brand.Id), nameof(Brand.Name))" class="form-control" id="exampleFormControlSelect2">
                            <option disabled selected>Choose type</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="4">Select Color</label>
                        <select asp-for="ColorId" asp-items="@new SelectList(Model.Colors, nameof(Color.Id), nameof(Color.ColorName))" class="form-control" id="exampleFormControlSelect3">
                            <option disabled selected>Choose type</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="5">Image</label>
                        <input asp-for="Files" multiple type="file" class="form-control img-input" id="files">
                        
                        <div class="dynamicImages">
                            @foreach (var img in Model.CurrentImage)
                            {
                                <div class="img-preview" style="display:flex; flex-direction: column">
                                    <img src="~/img/product-img/@img" style="width:140px; height: 140px;" />
                                    @* <a class="delete-img-btn"><i class="fa-solid fa-circle-xmark" style="color: #e71d1d; position: absolute;top: 0; right: 0"></i></a> *@
                                </div>
                            }
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign In End -->
@section Scripts{
    <script src="~/js/ProductAdd.js"></script>
}
